/.vs/
/src/Backend/bin/
/src/Backend/obj/
/src/MauiBlazorWeb.Maui/bin/
/src/MauiBlazorWeb.Maui/obj/
/src/MauiBlazorWeb.Web/obj/
/src/MauiBlazorWeb.Web/bin/
/src/MauiBlazorWeb.Shared/obj/
/src/MauiBlazorWeb.Shared/bin/
/src/MauiBlazorWeb.Shared.UI/obj/
/src/MauiBlazorWeb.Shared.UI/bin/
/src/MauiBlazorWeb.Web/MauiBlazorWeb.Web.csproj.user
/src/MauiBlazorWeb.Shared.UI/bin/
/src/MauiBlazorWeb.Shared.UI/bin/
